.admin-layout {
  width: 100%;
}

/* CSS cho phần header admin */
.profile-container {
  position: relative;
  display: inline-block;
}


.profile-pic {
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #00A07B;
}

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: left;
  z-index: 100;
}

.profile-menu a {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

.profile-menu a:hover {
  background: #f0f0f0;
  border-radius: 8px;
}



/* CSS cho phần sidebar */
.sidebar-submenu {
  background-color: #2B3135;
  padding-left: 20px;
}

.sidebar {
  width: 180px;
  height: 100vh;
  border-top: 0;
  font-size: 0.9em;
  position: fixed;
  z-index: 999;
  background-color: #1d2327;
  top: 0;
}

.dad-menu {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.sidebar-left {
  background-color: #1d2327;
}

.sidebar-right {
  margin-left: 180px;
  width: calc(100% - 180px);
  margin-top: 70px;
}

.sidebar .sidebar-options .sidebar-option i,
.sidebar .sidebar-options .sidebar-option p {
  color: #fff;
  margin-bottom: 0px !important;
  transition: color 0.3s ease;
  margin-top: 0;
}

.sidebar .sidebar-options .sidebar-option.active i,
.sidebar .sidebar-options .sidebar-option.active p {
  color: #fff;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.sidebar-dropdown .sidebar-option {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #fff !important;
  cursor: pointer;
  opacity: 1;
  gap: 10px;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.sidebar-dropdown .sidebar-option p {
  margin-bottom: 0;
  font-weight: 400;
}

.sidebar-dropdown ul.sidebar-submenu li a {
  text-transform: none;
}

.sidebar-options .sidebar-option:first-child,
.sidebar-options .sidebar-option:last-child {
  justify-content: flex-start;
}

.sidebar-dropdown {
  width: 100%;
}

.sidebar-dropdown ul.sidebar-submenu li {
  list-style-type: none;
  padding: 10px 0px;
  text-transform: uppercase;
}

.sidebar-dropdown ul.sidebar-submenu li a {
  color: #fff !important;
  font-size: 12px;
}

.sidebar-option:hover {
  color: #fff !important;
  text-decoration: none;
  border-left: 5px solid #2271b1 !important;
}

a.sidebar-option.active {
  background-color: #2271b1;
  color: #fff !important;
  opacity: 1;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.btn-confirm,
.btn-cancel {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.btn-confirm {
  background-color: #f24405;
  color: white;
}

.btn-cancel {
  background-color: #ccc;
}

.swal2-title,
swal2-html-container {
  font-family: 'bootstrap-icons';
}

.logo-sidebar {
  text-align: center;
}

.logo-sidebar img {
  width: 70%;
  padding: 20px;
}

.Logout {
  width: 10vw;
  position: fixed;
  bottom: 25px;
}

.Logout .sidebar-option {
  border-style: double;
  border-radius: 50px;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Logout .sidebar-option:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

.log-out-btn {
  position: absolute;
  bottom: 0px;
}

.sidebar-option-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
  width: 180px;
  background-color: #1d2327;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.sidebar-option-logout p {
  margin-bottom: 0;
  padding: 15px;
}

.sidebar-option-logout svg {
  margin-left: 10px;
}

.sidebar-option-logout:hover {
  background-color: #2271b1;
  color: #fff;
}

.sidebar-option ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 180px;
  padding: 0;
  list-style: none;
}

.sidebar-option ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-option ul li:last-child {
  border-bottom: none;
}

.sidebar-option ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

.sidebar-option ul li a:hover {
  background: #f1f1f1;
}

/* Hiển thị menu con khi ấn vào */
.sidebar-option:focus-within ul {
  display: block;
}

@media(max-width:1050px) {
  .sidebar-option p {
    display: none;
  }
}



/* CSS cho PopupUser */


body.popup-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.user-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  overflow: hidden;
}



.user-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


.user-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
  border-radius: 10px;
}

.user-close-popup:hover {
  color: #ff4d4f;
}


.user-popup-content h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}


.user-popup-input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.user-popup-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}


.user-popup-btn-save {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.user-popup-btn-save:hover {
  background: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* CSS cho popup Product */



.popup-products-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 14px;
}


.technical-specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.popup-products-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 900px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 85vh;
}

/* .products-infor{
    display: flex;
    justify-content: space-around;
} */
.popup-image {
  width: 10%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.form-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin-bottom: 30px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}


h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red;
}


.form-products-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
textarea:focus {
  border-color: #4a90e2;
  outline: none;
}


textarea {
  resize: vertical;
  min-height: 100px;
}

.save-button {
  background-color: #4a90e2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.save-button:hover {
  background-color: #357ab7;
}


/* input[type="text"],
  input[type="number"] {
    margin-bottom: 10px;
  } */


.form-products-actions {
  text-align: center;
}


.product-images {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.popup-image {
  width: 100%;
  height: auto;
  max-width: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.image-upload-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
}

.image-upload-input:hover {
  opacity: 0.7;
}


/* CSS cho popup Supplier */

/* .supplier-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-container{
    background-color: #fff;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
  }
  .popup-container .popup-supplier-body{
    display: flex;
    gap:10px
  }
  .supplier-popup-content {
    background: white;
    width: 50%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .supplier-popup  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .supplier-popup .popup-header h2 {
    margin: 0;
  }
  
  .supplier-popup  .popup-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .supplier-popup  .popup-body {
    margin-top: 15px;
  }
  
  .supplier-popup  .popup-body input,
  .supplier-popup  .popup-body select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .supplier-popup  .popup-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .supplier-popup  .popup-footer button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .supplier-popup  .btn-save {
    background: #007bff;
    color: white;
    margin-left: 10px;
  }
  
  .supplier-popup .btn-cancel {
    background: #ccc;
  } */


/* CSS cho trang Login Admin */

.login-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  background-image: url('../../assets/bglogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

.login-popup-container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-popup-title {
  margin-bottom: 20px;
}

.login-popup-title h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.login-popup-inputs {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.login-popup-inputs input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.login-popup-inputs input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

.Oauth2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.Oauth2 button.btn-fb {
  flex: 1;
  background: #1877f2;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.Oauth2 button.btn-fb::before {
  content: "";
  background: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg') no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.Oauth2 button.btn-fb::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
  z-index: 1;
}

.Oauth2 button.btn-fb:hover::after {
  left: 100%;
}

.Oauth2 button.btn-fb:hover {
  background: #145db2;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Oauth2 button.btn-fb:active {
  transform: translateY(0);
  box-shadow: none;
}

.Oauth2 button.btn-gg {
  flex: 1;
  background: #db4437;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.Oauth2 button.btn-gg::before {
  content: "";
  background: url('https://www.gstatic.com/images/branding/product/1x/gsa_64dp.png') no-repeat center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.Oauth2 button.btn-gg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
  z-index: 1;
}

.Oauth2 button.btn-gg:hover::after {
  left: 100%;
}

.Oauth2 button.btn-gg:hover {
  background: #c53727;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Oauth2 button.btn-gg:active {
  transform: translateY(0);
  box-shadow: none;
}

button[type='submit'].btn-sub {
  background: #00A07B;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

button[type='submit'].btn-sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
  z-index: 1;
}

button[type='submit']:hover::before {
  left: 100%;
}

button[type='submit']:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button[type='submit']:active {
  transform: translateY(0);
  box-shadow: none;
}

button[type='submit'] span {
  position: relative;
  z-index: 2;
}

.login-popup-condition {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}

.login-popup-condition p {
  margin-bottom: 0;
}

.login-popup-condition input {
  margin-right: 10px;
  width: 10px;
}

.login-popup .col-5 {
  justify-content: center;
  display: flex;
  align-items: first baseline;
}

.login-popup .col-5 img {
  width: 100%;
}

.login-popup p {
  font-size: 14px;
  text-align: center;
  color: #666;
}

.login-popup p span {
  color: #00A07B;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin-container {
  width: 99vw;
}

.login-popup .col-12 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 48em) {
  .login-popup {
    background-image: none;
    position: relative;
    top: -100px;
  }

  .login-popup-title h2 {
    margin-bottom: 0;
  }

  .login-popup-inputs {
    margin-bottom: 0px;
  }

  /* button[type='submit'].btn-sub {
        margin-top: 0;
    } */
}